/* SLAVA UKRAINE */

body {
    overflow: hidden;
}

main {
    width: 1440px;
    height: 400px;
    padding: 0;
    justify-content: center;
    margin: 250px auto;
    border: 10px solid;
    overflow: hidden;
}

img {
    cursor: pointer;
}

.first-template {
    overflow: hidden;
}

.second-template {
    overflow: hidden;
}

.first-template {
    /* position: absolute; */
    transform: translateX(-100%);
    transition: ease all 0.4s;
    /* transition-timing-function: cubic-bezier(.84,.17,.47,.79); */
}

.first-template img {
    width: 1440px;
    height: 404px;
}

.second-template img {
    width: 1440px;
    height: 404px;
}


.second-template {
    position: fixed;
    top: 260px;
    transition: ease all 0.4s;
    /* transition-timing-function: cubic-bezier(.84,.17,.47,.79); */
}